*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
}
header, footer{
    padding: 1rem;
    background-color: hsl(197, 38%, 20%);
    color: white;
}
.name-mobile{
    display: none;
    text-align: center;
}
section{
    display: flex;
}
section .left-content{
    padding: 1rem 2.5rem;
}
section .right-content{
    padding-top: 2.5rem;
}
.left-content{
    width: 35%;
}
.right-content{
    width: 65%;
}
#myAvatar{
    display: block;
    margin: 1rem auto;
    border-radius: 50%;
}
.infor ul li{
    list-style-type: none;
}
.infor-des{
    word-wrap: break-word;
}
.icon{
    color:#f69b12;
    width: 50px;
    display: inline-block;
}
.txt-yellow{
    color:#f69b12;
}
.title-number{
    font-size: 50px;
    padding-right: 20px;
}
.title-text{
    background-color: hsl(197, 38%, 20%);
    color: white;
    font-size: 20px;
    padding-left: 1rem;
}
.bold{
    font-weight: bold;
}
.description{
    padding-top: 1rem
}
.skill ul{
    padding-left: 1rem;
}
.list-exp{
    padding-left: 0;
    list-style-position: inside;
}
.icon-star{
    color: #f69b12;
    width: 30px;
    display: inline-block;
}
.skill-lang{
    width: 50px;
    display: inline-block;
}
footer > .row{
    padding: 0 1.5rem;
}
@media (max-width: 576px){
    .container{
        padding: 0 !important;
    }
    .name-pc{
        display: none;
    }
    .name-mobile{
        display: block;
    }
    .infor ul{
        padding-left: 0;
    }
    section {
        display: block;
        padding: 0 0.75rem;
    }
    section .right-content, section .left-content{
        width: 100%;
    }
    section .left-content{
        padding: 0;
    }
    section .right-content{
        padding-top: 0.5rem;
    }
    .title-number{
        font-size: 35px;
        padding-right: 10px;
    }
    h2{
        font-size: 22px !important;
    }
    .icon{
        width: 30px;
    }
    footer > .row{
        padding: 0;
    }
}